<MarketplaceDetails>
  <SmallAppTile>SmallAppIcon.png</SmallAppTile>
  <LargeAppTile>LargeAppIcon.png</LargeAppTile>
  <PCAppTile>WindowsAppIcon.png</PCAppTile>
  <ScreenShots>BirthdaySplashScreen.png;Screen Capture (2).png;Screen Capture.png;Screen Capture (6).png;Screen Capture (4).png;Screen Capture (5).png;;;</ScreenShots>
</MarketplaceDetails>